<% if Glimpse.enabled? %>
<div id="glimpse" class="<%= Glimpse.env %>">
  <div class="wrapper">
    <% Glimpse.views.each do |view| %>
      <%= render view.partial_path, :view => view %>
    <% end %>
  </div>
</div>
<% end %>
