<% if glimpse_enabled? %>
<span id="glimpse-results" class="hidden"
  <% Glimpse.views.each do |view| %>
    <% view.results.each do |key, value| %>
    data-<%= view.defer_key %>-<%= key %>="<%= value %>"
    <% end %>
  <% end %>
>
</span>
<% end %>
